<md-toolbar color="primary">
    <span>KwantCarApp</span>

    <md-menu #menu="mdMenu">
      <button md-menu-item > 
        <md-icon>fingerprint</md-icon>
        <span>Login</span>
        <!--<a ruterLink="app-login"/>-->
      </button>
      <button md-menu-item>
        <md-icon>build</md-icon>
        <span>Zadania</span>
      </button>
      <button md-menu-item>
        <md-icon>accessibility</md-icon>
        <span>Użytkownicy</span>
      </button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Disable alerts</span>
      </button>
    </md-menu>
 
</md-toolbar> 
<app-mainboard></app-mainboard>